<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="danger" class="ion-padding">
  <div class="container">
    <ion-img
      src="../../assets/logo-marvel-Photoroom.png"
      alt="Logo da Marvel"
      class="logo"
    ></ion-img>
    
    <div class="welcome-text">
      <h1>Bem-vindo ao Marvel App!</h1>
      <p>Explore o feed para encontrar seus personagens favoritos da Marvel.</p>
    </div>
  </div>
</ion-content>
